
<footer>
	<section id="contact" class="section-contact">
		<div class="container">
			<div class="section-contact-holder">
				<h2 class="white text-center editable">
				  CONTACTEZ NOUS
				</h2>
				<form action="" method="post" id="contact-form">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="name">Prénom</label>
								<input type="text" name="name" placeholder="Prénom" />
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="Last">Nom</label>
								<input type="text" name="last" id="Last" placeholder="Nom" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="email">E-mail</label>
								<input type="email" name="email" id="email" placeholder="E-mail" />
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="phone">Téléphone</label>
								<input type="text" name="phone" id="phone" placeholder="+33" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-12">
							<div class="form-item">
								<label for="message">Message</label>
								<textarea name="message" id="message" cols="20" rows="3" placeholder="Votre message..."></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-12">
							<div class="form-item">
								<input type="checkbox" name="_demande_brochure" id="brochure" value="yes" />
								<label for="brochure">Recevoir notre brochure</label>
 						 </div>
						</div>
						<div class="col-12 col-md-12">
							<div class="form-item">
								<label for="grpg">
									Vos données personnelles sont traitées par DLP Investigation SAS en qualité de responsable de traitement sur la base de son intérêt légitime à répondre à votre demande d’information et sur la base de votre consentement à recevoir notre brochure. Elles sont conservées pendant la durée nécessaire à la réalisation de la finalité du traitement, sous réserve de votre désinscription. Elles sont destinées à DLP Investigations et ses partenaires.
Conformément à la loi « informatique et libertés » et au RGPD, vous pouvez exercer vos droits d’opposition, d’accès, de rectification, d’effacement, de limitation et de portabilité en adressant un email à l’adresse suivante : donneespersonnelles@dlp-investigations.com. Vous pouvez également adresser une réclamation auprès de la CNIL directement sur son site internet www.cnil.fr
</label>
						 </div>
						</div>
					</div>

					<div class="g-recaptcha" data-sitekey="6LccmmAUAAAAAGtEGJw908L6iCN_rFR1MFMu-8Yw"></div>
					<input type="hidden" name="_to" value="d.delaporte@dlp-investigations.fr" />
				 	<input type="hidden" name="_cc" value="contact@example.com" />
				   <input type="text" name="_gotcha" style="display: none;" />
					<button type="submit" class="btn-primary">ENVOYEZ</button>
					<p></p>
				</form>
			</div>
		</div>
	</section>
	<div class="copyright">
		<div class="container">
			<div class="d-flex flex-column flex-md-row justify-content-between align-items-center editable">
			  <p>&copy; Copyright 2018, DLP Investigations SAS Agr&eacute;&eacute; par le CNAPS sous : AGD-075-2021-12-23-20160509144 &amp; AUT-075-2117-10-02-20180670485 TVA Intracommunautaire FR31841671787 RCS Paris 841 671 787 00015 MMA RCP 145 200 401 Article L612-14 du CSI : "L'autorisation d'exercice ne conf&egrave;re aucune pr&eacute;rogative de puissance publique &agrave; l'entreprise ou aux personnes qui en b&eacute;n&eacute;ficient."</p>
			  <p>&nbsp;</p>
			</div>
		</div>
	</div>
</footer>

 {%- include scripts.html -%}




