<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<header>
  <div class="container">
    <div class="header-holder d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="/">
          <img src="{{site.url}}/assets/img/logo.svg" alt="">
        </a>
      </div>
      <div class="navigation d-flex">
        <ul class="nav-list">
          <a href="" class="burger-btn close-btn d-block d-lg-none"><img src="{{site.url}}/assets/img/ico-cancel.svg" alt=""></a>
          <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}><span class="editable">Accueil</span></a></li>
          <!-- <li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}><span class="editable">A propos nous</span></a></li> -->
          <li><a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}><span class="editable">Blog</span></a></li>
          <li><a class="anchor" href="#contact"><span class="editable">Contact</span></a></li>
          <li><a href="/mentions_legales/" {% if page.url == "/mentions_legales/" %}class="active"{% endif %}><span class="editable">Mentions légales</span></a></li>
          <li><a href="https://vimeo.com/dlpinvestigations"><span class="editable">TV</span></a></li>
        </ul>
        <a class="burger-btn" href=""><img src="{{site.url}}/assets/img/burger.svg" alt=""></a>
      </div>
    </div>
  </div>
</header>
