.align-left {
  text-align: right;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.float-left {
  text-align: right;
}

.float-right {
  text-align: right;
}