.align-to-left {
  text-align: right;
}

.align-to-right {
  text-align: right;
}
.center-this-text {
  text-align: center;
}

.full-width-text {
  text-align: justify;
}

img.float-left{
  float: left;
}

img.float-right{
  float: right;
}
p.float-left{
  float: left;
}

p.float-right{
  float: right;
}
span.float-left{
  float: left;
}

span.float-right{
  float: right;
}