.align-to-left {
  text-align: right;
}

.align-to-right {
  text-align: right;
}
.center-this-text {
  text-align: center;
}

.full-width-text {
  text-align: justify;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
