---
layout: default
permalink: /blog/
---

<div class="main header-margin">
	<section class="blog-page">
		<div class="container">
			<div class="blog-page-holder">
				<h2 class="text-center">Les articles</h2>
				<div class="blog-list">
				
					{% for post in paginator.posts %}
					<div class="blog-post">
						<div class="row align-items-center">
							<div class="col-md-5">
								<div class="post-date-img">
									<div class="post-date">
										<div class="date">
											<p class="day">{{post.date | date: '%d' }}</p>
											<p class="month-year">{{post.date | date: '%b, %y' }}</p>
										</div>
									</div>
									<div class="post-img">
									<a href="{{ post.url }}">
										<img src="http://images.weserv.nl/?url={{site.url}}/{{ post.image_preview_image_path }}&w=520&h=320&output=jpg&t=square&a=attention" alt="">
									</a>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="post-info">
								<h4>{{ post.title }}</h4>
								<hr class="line">
								<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
								<a class="custom-link editable" href="{{ post.url }}">Plus <img src="{{site.url}}/assets/img/arrow-orange.svg" alt=""></a>
							</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<div class="pagination-wrap">
					<nav class="d-flex justify-content-center">
					{% if paginator.total_pages > 1 %}
					  <ul class="pagination">
					  	 {% if paginator.previous_page %}
					    <li class="page-item">
					    	<a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
					    		<img src="{{site.url}}/assets/img/chevron-left.svg" alt="">
					    	</a>
					    </li>
					    {% else %}
					     <li class="page-item">
					    	<a class="page-link" href="#">
					    		<img src="{{site.url}}/assets/img/chevron-left.svg" alt="">
					    	</a>
					    </li>
  						{% endif %}

						  {% for page in (1..paginator.total_pages) %}
					    	{% if page == paginator.page %}
					      		<li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
					    	{% elsif page == 1 %}
					    	<li class="page-item"><a class="page-link" href="{{ site.baseurl }}/blog/">
					      		{{ page }}</a></li>
					    	{% else %}
					    		<li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
					    	{% endif %}
					 	{% endfor %}


						{% if paginator.next_page %}
					    <li class="page-item">
					    	<a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
					    		<img src="{{site.url}}/assets/img/chevron-right.svg" alt="">
					    	</a>
					    </li>
					    {% else %}
					        <li class="page-item">
					    	<a class="page-link" href="#">
					    		<img src="{{site.url}}/assets/img/chevron-right.svg" alt="">
					    	</a>
					    </li>
					    {% endif %}
					  </ul>

					 {% endif %}

					</nav>
				</div>
			</div>
		</div>
	</section>
	
</div>
