---
layout: default

---

<div class="main">
	<section class="banner">
		<div class="container">
			<div class="banner-holder d-flex flex-column">
			  <p class="small editable">WELCOME</p>
			  <h1 class="editable">
			    Nous vous aidons &agrave; trouver la pi&egrave;ce manquante de votre dossier.
			  </h1>
			  <p class="white editable">
			    Nous vous garantissons le respect des diverses r&egrave;glementations, la recevabilit&eacute; du rapport d&rsquo;enqu&ecirc;te devant les tribunaux et enfin un gain de temps car nous nous occupons de tout.
			  </p>
			  <p class="white mt-5"> 
			    <a class="btn btn-primary btn-lg editable editor-link" href="#" data-cms-editor-link-style="sidebar" role="button">ABOUT US
				<img class="ml-3" src="{{site.url}}/assets/img/path-72.svg" alt="" />
			    </a>
			  </p>
			</div>
		</div>
		<a class="arrow_down" href=""><img src="{{site.url}}/assets/img/path-71.svg" alt="" /></a>
	</section>
	<section class="text-list">
		<div class="container">
				<div class="text-list-holder">
					<h2 class="editable">
					  Nos atouts&nbsp;
					</h2>
					<ul class="custom-list">
						{% for item in page.dotslist %}
					        <li>{{ item }}</li>
					     {% endfor %}
					</ul>
				</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<div class="services-holder">
				<h2 class="white text-center editable">
				  NOS SERVICE
				</h2>
				<div class="row mb-4">
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-message.svg" alt="" />
							<h3 class="white editable">
							  Professionnels&nbsp;
							</h3>
							<p class="white light editable">
							  Concurrence d&eacute;loyale<br />Arr&ecirc;t de maladie abusif<br />Vol &amp; escroquerie<br />Recherche ant&eacute;riorit&eacute; de marques
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-chat.svg" alt="" />
							<h3 class="white editable">
							  Particuliers
							</h3>
							<p class="white light editable">
							  Divorce &amp; s&eacute;paration<br />Prestation compensatoire<br />Garde d&rsquo;enfant<br />Pension alimentaire
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-mobile.svg" alt="" />
							<h3 class="white editable">
							  Administratifs&nbsp;
							</h3>
							<p class="white light editable">
							  Recherche adresse-t&eacute;l&eacute;phone<br />Recherche de revenu et d&rsquo;employeur<br />Recherche de patrimoine immobilier<br />Recherche d&rsquo;h&eacute;ritier
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-paper.svg" alt="" />
							<h3 class="white editable">Lorem normed</h3>
							<p class="white light editable">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris elementum mauris vitae tortor. Fusce consectetuer risus a nunc.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-contact.svg" alt="" />
							<h3 class="white editable">Lorem normed</h3>
							<p class="white light editable">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris elementum mauris vitae tortor. Fusce consectetuer risus a nunc.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item">
							<img src="{{site.url}}/assets/img/ico-planet.svg" alt="" />
							<h3 class="white editable">Lorem normed</h3>
							<p class="white light editable">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris elementum mauris vitae tortor. Fusce consectetuer risus a nunc.</p>
						</div>
					</div>
				</div>
				<p class="text-center mt-4">
					<a href="#contact" " class="btn-primary btn-lg anchor">CONTACT US</a>
				</p>
			</div>
		</div>
	</section>
	<section class="section-blog">

		<div class="container">
			<h2 class="text-center editable">OUR BLOGS</h2>
			
			{% for post in site.posts limit:3 %}
		    {% assign mod = forloop.index | modulo: 2 %}
		    {% if mod == 0 %}
		        <div class="row align-items-center my-5 flex-row flex-md-row-reverse">
					<div class="col-md-6">
						<div class="post-img">
							<img src="{{ post.image_preview_image_path }}" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="post-info">
							<h4>{{ post.title }}</h4>
							<hr class="line" />
							<p>{{ post.text_preview }}</p>
							<a class="custom-link" href="{{ post.url }}">Read more <img src="{{site.url}}/assets/img/arrow-orange.svg" alt="" /></a>
						</div>
					</div>
				</div>
		    {% else %}
		       <div class="row align-items-center my-5">
				<div class="col-md-6">
					<div class="post-img">
						<img src="{{ post.image_preview_image_path }}" alt="" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="post-info">
						<h4>{{ post.title }}</h4>
						<hr class="line" />
						<p>{{ post.text_preview }}</p>
						<a class="custom-link" href="{{ post.url }}">Read more <img src="{{site.url}}/assets/img/arrow-orange.svg" alt="" /></a>
					</div>
				</div>
			</div>
		    {% endif %}
		{% endfor %}
			<p class="text-center mt-4">
					<a href="/blog/" class="btn-primary btn-lg editable">ALL BLOGS</a>
			</p>
		</div>
	</section>
</div>


