---
layout: default

---

<div class="main">
	<section class="banner">
		<div class="container">
			<div class="banner-holder d-flex flex-column">
			  <h1 class="editable">
			    Nous vous aidons &agrave; trouver la pi&egrave;ce manquante de votre dossier.
			  </h1>
			  <p class="white editable">
			    Nous vous garantissons le respect des diverses r&egrave;glementations, la recevabilit&eacute; du rapport d&rsquo;enqu&ecirc;te devant les tribunaux et enfin un gain de temps car nous nous occupons de tout.
			  </p>
			  <p class="white mt-5">
			    <a class="btn btn-primary btn-lg editable editor-link" href="/about/" data-cms-editor-link-style="sidebar" role="button">À PROPOS DE NOUS&nbsp;<img class="ml-3" src="/assets/img/path-72.svg" alt="" />
			    </a>
			  </p>
			</div>
		</div>
		<a class="arrow_down" href=""><img src="{{site.url}}/assets/img/path-71.svg" alt="" /></a>
	</section>
	<section class="blocks-info">
		<div class="container">
			<div class="blocks-info-holder">
				<div class="corner-blocks">
					<div class="block-item corner">
						<div class="inner-block">
							<h4 class="editable">Nos atouts</h4>
							<p class="editable">Une équipe formée aux bases juridiques et au terrain par des  formations continues.
							 Des collaborateurs experts pour répondre aux spécificités de  chaque dossier.</p>
							 <hr class="short-line" />
	 					</div>
					</div>
					<div class="block-item corner">
						<div class="inner-block">
							<h4 class="editable">La recevabilité</h4>
							<p class="editable">La profession est soumise aux mêmes obligations que le secteur juridique : le conseil, la confidentialité, le secret professionnel entre autres. Nos rapports d’enquête respectent les règlementations européenne et française, ainsi que celle de notre profession. Un détective a une valeur de témoin auprès des instances.</p>
							<hr class="short-line" />
	 					</div>
					</div>
					<div class="block-item corner">
						<div class="inner-block">
							<h4 class="editable">Notre démarche</h4>
							<ul class="num-list">
								<li>
									<h5 class="editable">
									  1er rendez-vous
									</h5>
									<p class="editable">
									  Identification de votre problématique Préconisation de la solution adéquate Signature du contrat
									</p>
								</li>
								<li>
									<h5 class="editable">
									  Mise en &oelig;uvre
									</h5>
									<p class="editable">
									  Enquête terrain ou administrative&nbsp;<br />Débriefing régulier Poursuite ou non de la mission
									</p>
								</li>
								<li>
									<h5 class="editable">
									  Rapport final
									</h5>
									<p class="editable">
									  Compte-rendu factuel de l'enquête&nbsp;<br />Remise du rapport en main propre&nbsp;<br />Recevabilité
									</p>
									<hr class="short-line" />
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<div class="services-holder">
				<h2 class="white text-center editable">
				  NOS SERVICE
				</h2>
				<div class="row justify-content-around mission-block mb-4">
					<div class="col-md-4 my-4 text-center">
						<h3 class="white editable">
							  Mission terrain :
							</h3>
							<p class="white editable">
							 Mise en place d’un ou de plusieurs fileurs pour observer et retranscrire les faits et geste dont ils sont témoins de manière objective
							</p>
					</div>
					<div class="col-md-4 my-4 text-center">

						<h3 class="white editable">
							  Mission administrative :
							</h3>
							<p class="white editable">
							Mise en place d’une enquête pour retrouver une information administrative nécessaire au déroulement d’un dossier
							</p>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-md-4">
						<div class="serv-item text-center">
							<img src="{{site.url}}/assets/img/ico-message.svg" alt="" />
							<h3 class="white editable">
							  Professionnels&nbsp;
							</h3>
							<p class="white light editable">
							  Concurrence d&eacute;loyale<br />Arr&ecirc;t de maladie abusif<br />Vol &amp; escroquerie<br />Recherche ant&eacute;riorit&eacute; de marques
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item text-center">
							<img src="{{site.url}}/assets/img/ico-chat.svg" alt="" />
							<h3 class="white editable">
							  Particuliers
							</h3>
							<p class="white light editable">
							  Divorce &amp; s&eacute;paration<br />Prestation compensatoire<br />Garde d&rsquo;enfant<br />Pension alimentaire
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item text-center">
							<img src="{{site.url}}/assets/img/ico-mobile.svg" alt="" />
							<h3 class="white editable">
							  Administratifs&nbsp;
							</h3>
							<p class="white light editable">
							  Recherche adresse-t&eacute;l&eacute;phone<br />Recherche de revenu et d&rsquo;employeur<br />Recherche de patrimoine immobilier<br />Recherche d&rsquo;h&eacute;ritier
							</p>
						</div>
					</div>
				</div>

				<p class="text-center mt-4">
					<a href="#contact" class="btn-primary btn-lg anchor">CONTACTEZ NOUS</a>
				</p>
			</div>
		</div>
	</section>
	<section class="section-blog">

		<div class="container">
			<h2 class="text-center editable">
			  NOTRE BLOG
			</h2>

			{% for post in site.posts limit:3 %}
		    {% assign mod = forloop.index | modulo: 2 %}
		    {% if mod == 0 %}
		        <div class="row align-items-center my-5 flex-row flex-md-row-reverse">
					<div class="col-md-6">
						<div class="post-img">
							<img src="{{ post.image_preview_image_path }}" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="post-info">
							<h4>{{ post.title }}</h4>
							<hr class="line" />
							<p>{{ post.text_preview }}</p>
							<a class="custom-link" href="{{ post.url }}">Plus <img src="{{site.url}}/assets/img/arrow-orange.svg" alt="" /></a>
						</div>
					</div>
				</div>
		    {% else %}
		       <div class="row align-items-center my-5">
				<div class="col-md-6">
					<div class="post-img">
						<img src="{{ post.image_preview_image_path }}" alt="" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="post-info">
						<h4>{{ post.title }}</h4>
						<hr class="line" />
						<p>{{ post.text_preview }}</p>
						<a class="custom-link" href="{{ post.url }}">Plus <img src="{{site.url}}/assets/img/arrow-orange.svg" alt="" /></a>
					</div>
				</div>
			</div>
		    {% endif %}
		{% endfor %}
			<p class="text-center mt-4">
					<a href="/blog/" class="btn-primary btn-lg editable">Tous Les Articles<br /></a>
			</p>
		</div>
	</section>
</div>
