---
layout: default
permalink: /blog/:title/
---

<div class="main header-margin dots-background">
	<section class="page-post">
		<div class="container">
			<div class="page-post-holder">
				<h2 class="text-center">{{ page.title }}</h2>
				<div class="post-content">
					<div class="row">
						<div class=" col-sm-2">
							<div class="left-menu-post">
								<div class="post-date">
									<div class="date">
										<p class="day">{{page.date | date: '%d' }}</p>
										<p class="month-year">{{page.date | date: '%b, %y' }}</p>
									</div>
								</div>
								{% include share.html %}
							</div>
						</div>
						<div class=" col-sm-8">
							<div class="post-text">


								{{ content }}


							</div>
						</div>
					</div>
					<div class="row justify-content-center hare-btns mt-4">
						<div class="col-md-8">
							{% include share.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="next-blogs">
		<div class="container">
			<h2 class="text-center">NEXT BLOGS</h2>
			<div class="next-blogs-holder">
				<div class="row">



					{% for post in site.posts limit:3 %}
					<div class="col-md-4">
						<div class="post-preview">
							<div class="img-header">
								<a href="">
									<img src="http://images.weserv.nl/?url={{site.url}}/{{ post.image_preview_image_path }}&w=520&h=320&output=jpg&t=square&a=attention" alt="">
								</a>
							</div>
							<div class="d-flex justify-content-end">
								<div class="date">
									<p>{{post.date | date: '%b %d, %Y' }}</p>
								</div>
							</div>
							<div class="post-info">
								<h4>{{ post.title }}</h4>
								<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
								<a class="custom-link" href="">Plus <img src="{{site.url}}/assets/img/arrow-orange.svg" alt=""></a>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>
</div>
