

	<section id="contact" class="section-contact">
		<div class="container">
			<div class="section-contact-holder">
				<h2 class="white text-center">
					CONTACT US
				</h2>
				<form action="">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="">First Name</label>
								<input type="text" placeholder="First Name">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="">Last Name</label>
								<input type="text" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="">E-mail</label>
								<input type="email" placeholder="E-mail">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-item">
								<label for="">Phone</label>
								<input type="phone" placeholder="+420">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-12">
							<div class="form-item">
								<label for="">Message</label>
								<textarea name="" id="" cols="20" rows="3" placeholder="Your message..."></textarea>
							</div>
						</div>
					</div>
					<p class="text-center mt-4">
								<button class="btn-primary">SEND MESSAGE</button>
					</p>
				</form>
			</div>
		</div>
	</section>
	<div class="copyright">
		<div class="container">
			<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
				<p>© Copyright 2018, DLP Investigations</p>
				<p>Created by <a href="">Mountain Lift</a></p>
			</div>
		</div>
	</div>
</div>

  @@include('../../components/footer/footer-scripts/scripts.html')
  <script src="./js/main.js"></script>
</body>

</html>